@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
a:link {
  color : white;
}
a:visited {
  color : white;
}

.q {
color:white;
text-decoration:none;
float:right
}

header span {
font-size:2em;
padding:10px
}

nav a {
font-size:1em;
padding:15px;
}

#n {
float: left;
width: 40%;
height:60px;
background-color:gray;
margin-bottom:10px;
}

#h {
float:left;
width: 60%;
height:60px;
background-color:gray;
}

#m {
background:url('img_1.png');
width: 1300px;
height:750px;
float:left;
}

#s {
width: 14%;
height:900px;
float:left;
border: 1px solid black;
}

article span {
color:white;
font-size:2em;
text-align:left;
}

#e {
list-style: none;
float:left;
}

.w {
height:100px;
width:250px;
padding:40px;
border: 1px solid black;
margin: 0px 20px;
display: inline-block;
font-size:2em;
}

footer span {
font-size:2em
}
#i {
background-color:gray;
width:100%;
float:left
}

aside p {
font-size:1.3em
}

.a {
   border: 3px solid black;
   border-collapse: collapse;
}

.y{
width:500px;
padding: 5px;
margin:10px;
background-color:rgb(136,171,255)
}

tr,td{
    border: 1px dotted black;
    padding: 5px;
    text-align: left;
}

tbody {
border: 1px solid;
width:200px
}

tr {
border: 1px solid;
width:50px
}

td{
border: 1px solid;
width:400px
}

.ll {
border: 1px solid;
width:70px;
text-align: center
}

.wow {
background-color:rgb(120,170,255);
text-align:center;
}

.ww {
text-align:center;
}

.yr {
width:500px;
padding: 5px;
margin:10px;
background-color:rgb(180,254,179)
}

#form-commentInfo{
width: 100%;
}

#comment-count{
margin-bottom: 10px;
}

#comment-input{
width: 50%;
height: 3.3em;
}

#submit{
background-color: rgb(0, 128,255);
width: 5.5em;
height: 3.3em;
font-size: 15px;
font-weight: bold;
color: aliceblue;
}

#voteUp, #voteDown{
width: 3.5em;
height: 1.9em;
background-color: aqua;
}

#comments{
margin-top: 10px;
}

.eachComment{
width :50%;
margin: 10px;
padding: 0.5em;
border-bottom: 1px solid #c1bcba;
}

.eachComment .name{
font-size: 1.5em;
font-weight: bold;
margin-bottom: 0.3em;
display: flex;
justify-content: space-between;
}

.eachComment .inputValue{
font-size: 1.2em;
font-style: italic;
}

.eachComment .time{
font-size: 0.7em;
color: #c1bcba;
font-style: oblique;
margin-top: 0.5em;
margin-bottom: 0.5em;
}

.eachComment .voteDiv{
display: flex;
justify-content: flex-end;
}

.eachComment .deleteComment{
background-color: red;
color: aliceblue;
}